<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DhtUnitTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5DA961B81EBC174200D9E763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA961CC1EBC174200D9E763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA961D71EBC174300D9E763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DA961ED1EBC17BF00D9E763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
